header p{
    color: antiquewhite;
    margin-bottom: 0;
}

header{
    z-index: 100;
}

.loginButton{
    color: whitesmoke;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    padding: 10px 20px ;
    outline: none;
    box-shadow: none;
    border: none;
    transition: all ease-in-out 0.2s;
}

.loginButton:hover{
    background-color: rgba(192, 189, 189, 0.356) ;
}

.registerButton{
    background-color: transparent;
    border: none;
    color: whitesmoke;
}

.welcome{
    color: whitesmoke;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    padding: 10px 20px ;
    outline: none;
    box-shadow: none;
    border: none;
    transition: all ease-in-out 0.2s;
}