.loginModalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.loginModalContent{
    width: fit-content;
    height: fit-content;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(217, 224, 230);
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.7), 0 10px 20px rgba(0, 0, 0, 0.925);
}

.loginBtn{
    border: none;
    background-color: white;
    color: black;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    transition: all ease-in-out 0.2s;
}

.loginBtn:hover{
    background-color: #bcc5cd;
}

.closeLoginModal-container{
    text-align: right;
}

.closeLoginModalBtn{
    border: none;
    background-color: transparent;
    color: rgb(96, 96, 96);
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 15px;
}


.separator {
    border-top: 1px solid #716f6f;
    margin: 10px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.socialButtons {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.socialButton {
    width: 45%;
    padding: 10px;
    background-color: #dcdcdc;
    border: 1px solid #888787;
    border-radius: 50px;
    cursor: pointer;
}

.googleButton {
    display: flex;
    background-color: #F0F8FF;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
}

.googleButton:hover {
    background-color: #bcc5cd;
}

.googleButton img {
    width: 25px;
    height: 25px;
}

.facebookButton {
    display: flex;
    background-color: #F0F8FF;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.2s;
}

.facebookButton:hover {
    background-color: #bcc5cd;
}

.facebookButton img {
    width: 30px;
    height: 30px;
}

.otherOptions-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.otherOptions-container div:nth-child(1) button {
    border: none;
    background-color: transparent;
}

.otherOptions-container p {
    margin-bottom: 0;
    color: rgb(77, 77, 248);
}

.otherOptions-container a {
    text-decoration: none;
}
